@model projecttour.Models.tour_khachhang

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card w-100">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 text-danger text-uppercase">
                    <strong>Are you sure you want to delete this?</strong>
                </div>
                <div class="col-md-6 text-right">
                    <button type="submit" class="btn btn-sm btn-danger" data-toggle="tooltip" title="Xóa">
                        <span class="fa fa-trash"></span>
                    </button>
                    <a href="@Url.Action("Index")" class="btn btn-sm btn-danger" data-toggle="tooltip" title="Thoát">
                        <span class="fa fa-reply"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

}