@model projecttour.Models.tour_loai

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tour_loai</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Tên loại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loai_ten)
        </dd>

        <dt>
          Mô tả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loai_mota)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.loai_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
