@model projecttour.Models.tour_loaichiphii

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tour_loaichiphii</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên loại chi phí
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cp_ten)
        </dd>

        <dt>
            Mô tả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cp_mota)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cp_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
